@inherits PortfolioBase
@page "/portfolio"

<PageTitle>Portfolio</PageTitle>
<h2>Hello and welcome to my portfolio!</h2>

<p>
    Here I will talk about the different kinds of projects that I have
    been involved in, whether through courses, student organizations, hackathon
    submissions, or in my free time with personal projects.
</p>

<div class="courses">
    <h3>Courses</h3>
    <div class="container">
        @foreach (var project in projectSources.Where(p => p.Type == "Course")) {
            <div class="project">
                <h4>@project.Title</h4>
                <p>@project.Description</p>
                <a href="@project.Link" target="_blank">View Project</a>
            </div>
        }
    </div>
</div>

<div class="rsos">
    <h3>Student Organizations</h3>
    <div class="container">
        @foreach (var project in projectSources.Where(p => p.Type == "RSO")) {
            <div class="project">
                <h4>@project.Title</h4>
                <p>@project.Description</p>
                <a href="@project.Link" target="_blank">View Project</a>
            </div>
        }
    </div>
</div>

<div class="hackathons">
    <h3>Hackathons</h3>
    <div class="container">
        @foreach (var project in projectSources.Where(p => p.Type == "Hackathon")) {
            <div class="project">
                <h4>@project.Title</h4>
                <p>@project.Description</p>
                <a href="@project.Link" target="_blank">View Project</a>
            </div>
        }
    </div>
</div>

<div class="personal-projects">
    <h3>Personal Projects</h3>
    <div class="container">
        @foreach (var project in projectSources.Where(p => p.Type == "Personal")) {
            <div class="project">
                <h4>@project.Title</h4>
                <p>@project.Description</p>
                <a href="@project.Link" target="_blank">View Project</a>
            </div>
        }
    </div>
</div>