@inherits LayoutComponentBase
@using System;
@using System.Collections.Generic;
@inject NavigationManager Navigation
@using BlazorBootstrap
@inject IJSRuntime jsRuntime

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<body>
    <div class="page">
        <main>
            <div class="top-row" style="@NavBarStyle">
                <nav class="navbar">
                    <ul class="nav-list">
                        @for (int i = 0; i < NavBarNames.Length; i++)
                        {
                            <li><a href=@NavBarPages[i] style="@NavTextStyle">@NavBarNames[i]</a></li>
                        }
                    </ul>
                </nav>
                <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-label="Toggle navigation">
                </button>
                <div class="scrollmenu">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav">
                            @for (int i = 0; i < NavBarNames.Length; i++) {
                                <li class="nav-item">
                                    <a class="nav-link" href=@NavBarPages[i] style="@NavTextStyle">@NavBarNames[i]</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <article class="content">
                @Body
            </article>

        </main>
    </div>
</body>

@code {
    // Create a dictionary that will hold the NavBar pages
    string[] NavBarNames = { "Home", "Portfolio", "Work Experience", "Involvement", "Contact"};
    string[] NavBarPages = { "/", "portfolio", "workexperience", "involvement", "contact"};

    string NavBarStyle, NavTextStyle  = "";
    protected override void OnInitialized() {
        var currentPage = Navigation.ToBaseRelativePath(Navigation.Uri);

        /* changes the color of the navbar based on the page it's on
        (NavBarStyle, NavTextStyle) = currentPage switch {

        };*/
    }
}