@inherits InvolvementBase
@page "/involvement"

<PageTitle>Involvement</PageTitle>

<h1>Here's what I've been involved in throughout my academic career</h1>

<h2>Louisiana State University</h2>
<div class="container">
    @foreach (var volunteer in volunteerDetails.Where(p => p.Type == "LSU")) {
        <div class="volunteer">
            <h4>@volunteer.Event</h4>
            <h4>@volunteer.Position</h4>
            <p>
                @volunteer.Date, 
                @volunteer.Description
            </p>
            <div class="vlntr-image">@volunteer.ImagePath</div>
        </div>
    }
</div>

<h2>Hartnell College</h2>

<h2>Cabrillo College</h2>